@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

#controls {
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	color: #FFF;
	position: absolute;
	bottom: 40;
	right: 40;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.controls {
	display: none;
}

.dialog {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	box-shadow: 0px 0px 50px 0px #000;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 104px;
	transform: translate(-50%, -50%);
}

.dialog.big {
	height: 200px;
}

.dialog .head {
	font-weight: 700;
	font-size: 18px;
	background-color: #217625;
	text-align: center;
	height: 40px;
	border-radius: 5px 5px 0px 0px;
}

.dialog .head span:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.dialog input[type="text"] {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 32px;
	font-size: 16px;
	font-weight: 400;
	outline:0;
	border: none;
	padding-left: 4px;
	padding-right: 4px;
}

.dialog textarea {
	width: 100%;
	height: 128px;
}

.dialog button[name="submit"] {
	width: 50%;
	height: 32px;
	background-color:#2e2e2e;
	color: white;
	border: 1px solid #616161;
	font-weight: 700;
}

.dialog button[name="cancel"] {
	width: 50%;
	height: 32px;
	background-color:#2e2e2e;
	color: white;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #616161;
	font-weight: 700;
}

button:focus {
	outline-color: #616161;
	background-color:#616161 !important;
}

button:hover {
	outline-color: #616161;
	background-color:#616161 !important;
}